# Pandas Review

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

You can find it here: http://pandas.pydata.org/

And the documentation can be found here: http://pandas.pydata.org/pandas-docs/stable/

In this notebook we review some of its functionality.

In [1]:
import pandas as pd
import numpy as np

## Create random data

Create a dataframe with four features (columns), "A","B","C". The corresponding values could be (homoegeneous or heterogeneous) arrays, scalars, strings, missing values (NaN), etc.  
Indexing of the records (rows) is automatic (starting from 0).

In [2]:
df=pd.DataFrame({'A':np.array([1,7,2,-2],dtype='int32'),
                'B':1,
                'C':['pippo']*4,
                'D':np.array([0.5,'pluto',np.nan,np.nan])})

Now inspect the dataframe a little bit

In [176]:
df.head(3)

   A  B      C      D
0  1  1  pippo    0.5
1  7  1  pippo  pluto
2  2  1  pippo    nan

In [177]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [178]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [179]:
df.values

array([[1, 1, 'pippo', '0.5'],
       [7, 1, 'pippo', 'pluto'],
       [2, 1, 'pippo', 'nan'],
       [-2, 1, 'pippo', 'nan']], dtype=object)

Try some operations

In [180]:
df.T

       0      1      2      3
A      1      7      2     -2
B      1      1      1      1
C  pippo  pippo  pippo  pippo
D    0.5  pluto    nan    nan

In [181]:
df.sort_index(axis=0,ascending=False)

   A  B      C      D
3 -2  1  pippo    nan
2  2  1  pippo    nan
1  7  1  pippo  pluto
0  1  1  pippo    0.5

In [182]:
df.sort_values(by='A')

   A  B      C      D
3 -2  1  pippo    nan
0  1  1  pippo    0.5
2  2  1  pippo    nan
1  7  1  pippo  pluto

## Create and modify a  data frame
Now create a dataframe with with the dates (time series) as index and a corresponding 7x2 (7 records with 2 features) matrix of random numbers. The 2 features are "
Temperature" and "Humidity"

In [183]:
dates=pd.date_range('20170101', periods=7, freq='D')
dates

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07'],
              dtype='datetime64[ns]', freq='D')

In [184]:
df = pd.DataFrame(np.random.rand(7,2), index=dates, columns=['Temperature','Humidity'])
df

            Temperature  Humidity
2017-01-01     0.930918  0.472227
2017-01-02     0.164269  0.957238
2017-01-03     0.511884  0.737296
2017-01-04     0.809257  0.194414
2017-01-05     0.726388  0.481966
2017-01-06     0.638924  0.990898
2017-01-07     0.136966  0.263734

Add a column with power consumption in kWh

In [185]:
df['Power Consumption']=np.random.rand(7,1)+7.4
df

            Temperature  Humidity  Power Consumption
2017-01-01     0.930918  0.472227           7.584585
2017-01-02     0.164269  0.957238           7.920211
2017-01-03     0.511884  0.737296           8.215903
2017-01-04     0.809257  0.194414           8.297823
2017-01-05     0.726388  0.481966           8.238150
2017-01-06     0.638924  0.990898           7.589648
2017-01-07     0.136966  0.263734           7.590019

Modify the temperature to have a reasonable value for the season

In [186]:
df['Temperature']=np.random.randint(2,high=12, size=(7))
df

            Temperature  Humidity  Power Consumption
2017-01-01            6  0.472227           7.584585
2017-01-02            9  0.957238           7.920211
2017-01-03            6  0.737296           8.215903
2017-01-04            8  0.194414           8.297823
2017-01-05            6  0.481966           8.238150
2017-01-06            3  0.990898           7.589648
2017-01-07            3  0.263734           7.590019

Add a bogus feature and then remove it

In [187]:
df['bogus']=np.nan
df

            Temperature  Humidity  Power Consumption  bogus
2017-01-01            6  0.472227           7.584585    NaN
2017-01-02            9  0.957238           7.920211    NaN
2017-01-03            6  0.737296           8.215903    NaN
2017-01-04            8  0.194414           8.297823    NaN
2017-01-05            6  0.481966           8.238150    NaN
2017-01-06            3  0.990898           7.589648    NaN
2017-01-07            3  0.263734           7.590019    NaN

In [188]:
df=df.drop(['bogus'],axis=1)
df.head()

            Temperature  Humidity  Power Consumption
2017-01-01            6  0.472227           7.584585
2017-01-02            9  0.957238           7.920211
2017-01-03            6  0.737296           8.215903
2017-01-04            8  0.194414           8.297823
2017-01-05            6  0.481966           8.238150

## Indexing

Try to figure out what each of the following indexing method does.

If in trouble check here: http://pandas.pydata.org/pandas-docs/stable/indexing.html

Let's open a file with data about weight and height of a sample of men and women

## Getting 
Select a column (feature) by feature's name

In [189]:
df['Temperature'] # same as df.Temperature which is however sometimes impractical

2017-01-01    6
2017-01-02    9
2017-01-03    6
2017-01-04    8
2017-01-05    6
2017-01-06    3
2017-01-07    3
Freq: D, Name: Temperature, dtype: int64

In [190]:
df[['Temperature','Humidity']]

            Temperature  Humidity
2017-01-01            6  0.472227
2017-01-02            9  0.957238
2017-01-03            6  0.737296
2017-01-04            8  0.194414
2017-01-05            6  0.481966
2017-01-06            3  0.990898
2017-01-07            3  0.263734

Select rows by indeces

In [191]:
df[0:2]

            Temperature  Humidity  Power Consumption
2017-01-01            6  0.472227           7.584585
2017-01-02            9  0.957238           7.920211

Getting a cross section of the table by label

In [192]:
df.loc[dates[0]]
#df.loc[:,['Humidity','Power Consumption']]
#df.loc['20170102',['Humidity','Temperature']]

Temperature          6.000000
Humidity             0.472227
Power Consumption    7.584585
Name: 2017-01-01 00:00:00, dtype: float64

Selection by Position

In [193]:
df.iloc[3]
#df.ix[0]

Temperature          8.000000
Humidity             0.194414
Power Consumption    8.297823
Name: 2017-01-04 00:00:00, dtype: float64

In [194]:
df.iloc[2:4,1:3]

            Humidity  Power Consumption
2017-01-03  0.737296           8.215903
2017-01-04  0.194414           8.297823

Boolean selection

In [195]:
df[df['Temperature'] >= 7 ]

            Temperature  Humidity  Power Consumption
2017-01-02            9  0.957238           7.920211
2017-01-04            8  0.194414           8.297823

In [196]:
df[df > 5]

            Temperature  Humidity  Power Consumption
2017-01-01          6.0       NaN           7.584585
2017-01-02          9.0       NaN           7.920211
2017-01-03          6.0       NaN           8.215903
2017-01-04          8.0       NaN           8.297823
2017-01-05          6.0       NaN           8.238150
2017-01-06          NaN       NaN           7.589648
2017-01-07          NaN       NaN           7.590019

In [197]:
df2 = df.copy()
df2['Quality'] = ['nice day', 'nice day','soso day','bad day','bad day','soso day', 'wonderful day']
df2

            Temperature  Humidity  Power Consumption        Quality
2017-01-01            6  0.472227           7.584585       nice day
2017-01-02            9  0.957238           7.920211       nice day
2017-01-03            6  0.737296           8.215903       soso day
2017-01-04            8  0.194414           8.297823        bad day
2017-01-05            6  0.481966           8.238150        bad day
2017-01-06            3  0.990898           7.589648       soso day
2017-01-07            3  0.263734           7.590019  wonderful day

In [198]:
df2[df2['Quality'].isin(['wonderful day','nice day'])]

            Temperature  Humidity  Power Consumption        Quality
2017-01-01            6  0.472227           7.584585       nice day
2017-01-02            9  0.957238           7.920211       nice day
2017-01-07            3  0.263734           7.590019  wonderful day

## Setting

Setting a new column automatically aligns the data by the indexes

In [199]:
s1 = pd.Series(range(1,8), index=pd.date_range('20170102', periods=7))
print s1
df['Bogus'] = s1
df

2017-01-02    1
2017-01-03    2
2017-01-04    3
2017-01-05    4
2017-01-06    5
2017-01-07    6
2017-01-08    7
Freq: D, dtype: int64

            Temperature  Humidity  Power Consumption  Bogus
2017-01-01            6  0.472227           7.584585    NaN
2017-01-02            9  0.957238           7.920211    1.0
2017-01-03            6  0.737296           8.215903    2.0
2017-01-04            8  0.194414           8.297823    3.0
2017-01-05            6  0.481966           8.238150    4.0
2017-01-06            3  0.990898           7.589648    5.0
2017-01-07            3  0.263734           7.590019    6.0

In [200]:
df2.iloc[0,1] = 0
df2.loc[:,'Temperature'] = np.array([5] * len(df))
df2

            Temperature  Humidity  Power Consumption        Quality
2017-01-01            5  0.000000           7.584585       nice day
2017-01-02            5  0.957238           7.920211       nice day
2017-01-03            5  0.737296           8.215903       soso day
2017-01-04            5  0.194414           8.297823        bad day
2017-01-05            5  0.481966           8.238150        bad day
2017-01-06            5  0.990898           7.589648       soso day
2017-01-07            5  0.263734           7.590019  wonderful day

Example of fancy operation (column removal if records are not numbers)

In [201]:
for column in df2.columns:
    if not np.issubdtype(df2[column].dtype, np.number):
        df2.drop(column, axis=1, inplace=True)
df2

            Temperature  Humidity  Power Consumption
2017-01-01            5  0.000000           7.584585
2017-01-02            5  0.957238           7.920211
2017-01-03            5  0.737296           8.215903
2017-01-04            5  0.194414           8.297823
2017-01-05            5  0.481966           8.238150
2017-01-06            5  0.990898           7.589648
2017-01-07            5  0.263734           7.590019

Some other global operations

In [202]:
#-df
#df*5
df2[df2['Power Consumption']>8]=-df2
df2

            Temperature  Humidity  Power Consumption
2017-01-01          5.0  0.000000           7.584585
2017-01-02          5.0  0.957238           7.920211
2017-01-03         -5.0 -0.737296          -8.215903
2017-01-04         -5.0 -0.194414          -8.297823
2017-01-05         -5.0 -0.481966          -8.238150
2017-01-06          5.0  0.990898           7.589648
2017-01-07          5.0  0.263734           7.590019

Theres much more that Pandas can do for you. Make sure to check the documentation: http://pandas.pydata.org/pandas-docs/stable/

## Exercises:

now try excercise with the following dataset:

In [98]:
df = pd.read_csv("../data/titanic-train.csv")

- select passengers that survived
- select passengers that embarked in port S
- select male passengers
- select passengers who paid less than 40.000 and were in third class
- locate the name of passegner Id 674
- calculate the average age of passengers using the function mean()
- count the number of survived and the number of dead passengers
- count the number of males and females
- count the number of survived and dead per each gender
- calculate average price paid by survived and dead people

*Copyright &copy; 2015 Dataweekends.  All rights reserved.*